.exchange{
  .exchange__header{
    color: #1F2431;
    font-size: 24px;
  }
  .exchange__text{
    font-size: 16px;
    color: #82899B;
    line-height: 2em;
    width: 75%;
  }
  .exchange__image {
    margin: 1em;
  }
}