.info{
  .info__header{
    color: #1F2431;
    font-size: 24px;
    margin-bottom: 3em;
  }
  .info__text{
    font-size: 16px;
    color: #82899B;
    line-height: 2em;
    margin: 3em 0;
    width: 75%;
  }
  .info__image {
    margin: 1em;
  }
}